<aside>
            <article id="asideAr">
                <ul>Nützlich:
                	<li><a href="https://www.duden.de/">Duden</a></li>
                	<li><a href="https://bildungsserver.berlin-brandenburg.de/fileadmin/bbb/unterricht/faecher/sprachen/deutsch/Grundschule/Aus_der_Buecherwelt.pdf">Bücher</a></li>
                	<li><a href="https://www.fh-dortmund.de/de/index.php">Schul-Website</a></li>
                	<li><a href="mailto:tim.wiethoff003@stud.fh-dortmund.de">Kontakt-Mail</a></li>
                </ul>

            </article>
</aside>