<header>
    <figure>
        <a href="/"><img src="img/maus.jpg" alt="Abbildung" width="120" height="120"></a>
        <figcaption><small>Wochenplaner | Tim</small></figcaption>
    </figure>
</header>