<nav>
            <ul>
                <li><a href="/">Wochenplan</a></li>
                <li><a href="tagesplan">Tagesplan</a></li>
                <li><a href="neueAufgabe">Anpassen</a></li>
            </ul>
</nav>