<nav>
            <ul>
                <li><a href="/">Wochenplan</a></li>
                <li>Platzhalter für aktuelle Wochenanzeige</li>
                <li><a href="neueAufgabe">Anpassen</a></li>
            </ul>
</nav>