body{
	display: grid;
	grid-template-areas:"header nav nav"
					"main main aside"
					"main main aside"
					"footer footer footer";
	grid-template-columns:30% 55% auto;
	grid-template-rows: 20% 40% 35% 5%;
}

header{
	grid-area: header;
}

aside{
	grid-area: aside;
}

footer{
	grid-area: footer;
	}

main{
	grid-area: main;
}

nav{
	grid-area: nav;
}

